.hop1,
.hop2,
.hop3,
.hop4 {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    display: inline-block;
    transition: transform 0.3s ease;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}