* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery {
    width: 770px;
    height: 520px;
    display: flex;
    gap: 8px;
    margin: 20px auto;
}


/* Cột trái */

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* Cột phải */

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* Các khung ảnh */

.box {
    width: 100%;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* Giữ đúng tỉ lệ giống hình bạn gửi */

.flower1 {
    height: 225px;
}

.flower2 {
    height: 100px;
}

.flower3 {
    height: 195px;
}

.flower4 {
    height: 260px;
}

.flower5 {
    height: 260px;
}